---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Adventure from '../components/Adventure.astro'
import HowToGet from '../components/How-to-get.astro'
import Destinations from '../components/Destinations.astro'
import Gallery from '../components/Gallery.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Bienvenidos a Aysén">
	<main>
		<Header />
		<Adventure />
		<HowToGet />
		<Destinations />
		<Gallery />
		<Footer />
	</main>
</Layout>
