<footer class="footer">
  <div class="container fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class=" col-md-12 text-center" style="border-bottom: 1px solid #c7c5c5; width: 90%;">
        <nav class="navbar navbar-expand-lg mt-3 mb-3 flex flex-column">
            <a class="navbar-brand mb-3" href="#" style="font-size: 1.5rem; font-weight: 600; color: #dddada;" ><u>Aysén</u></a>
              <ul class="navbar-nav lead">
                <li class="nav-item me-3">
                  <a class="nav-link ms-sm-3 ms-xs-3 active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#adventure">Por Qué Patagonia</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#how-to-get">Cómo Llegar</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#destinations">Destinos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Galería</a>
                </li>
              </ul>
        </nav>
      </div>
      <div class="col-md-12 text-center mt-4 mb-4" style="paddingTop: 4rem; color: #dddada;">
        <p style="text-shadow: 2px 1px 1px #000;">Copyright © 2024. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer{
    background: linear-gradient(to top, rgba(66, 86, 117, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../assets/bg-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }
  
  nav a{
    color: #fff;
    text-shadow: 2px 1px 1px #000, 3px 2px 2px #222222;
  }

  .nav-link.active {
    color: #fff;
  }

  .carousel-caption {
    text-shadow: 2px 1px 1px #000;
  }

  .navbar-nav .nav-link {
    position: relative;
    transition: color 0.3s ease;
  }

  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    margin-bottom: 0.5rem;
    color: #c7c5c5;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #c7c5c5;
    transition: width 0.3s ease;
    box-shadow: 2px 1px 1px #252525;
  }

  .navbar-nav .nav-link:hover::after,
  .navbar-nav .nav-link.active::after {
    width: 100%;
  }
</style>