<section id="how-to-get">
  <div class="section-bg">
    <div class="container pb-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8 mt-5 mb-5 text-center">
          <h2
            class="pt-3 pb-5"
            style="font-size: 3rem; text-shadow: 1px 2px 4px rgba(0,0,0,0.8);"
          >
            ¿Como llegar <span class="text-danger">a la Región </span>de Aysén?
          </h2>
        </div>

        <div class="row featurette align-items-center mb-5">
          <div class="col-md-5 pe-5 text-center">
            <svg
              class="p-2"
              xmlns="http://www.w3.org/2000/svg"
              width="70"
              height="70"
              viewBox="0 0 24 24"
              style="fill: rgb(63, 62, 62); transform: ;msFilter:;"
            >
              <path
                d="M3 18h18v2H3zm18.509-9.473a1.61 1.61 0 0 0-2.036-1.019L15 9 7 6 5 7l6 4-4 2-4-2-1 1 4 4 14.547-5.455a1.611 1.611 0 0 0 .962-2.018z"
              >
              </path>
            </svg>
            <h2
              class="featurette-heading align-items-center display-5 mb-5"
              style="text-shadow: 1px 2px 4px rgba(0,0,0,0.7);"
            >
              <em>Avión</em>
            </h2>
          </div>
          <div class="col-md-7">
            <p class="lead">
              <strong
                >¿Desde el aeropuerto de Santiago se puede tomar un vuelo
                directo, que dura 2 horas, hasta el aeropuerto de Balmaceda, a
                56 km de la ciudad de Coyhaique, por ruta pavimentada, capital
                de la región de Aysén. Desde la ciudad de Puerto Montt puedes
                tomar un vuelo directo desde el aeropuerto El Tepual hasta el
                aeropuerto de Balmaceda, a 56 km de la ciudad de Coyhaique, 1
                hora de vuelo.</strong
              >
            </p>
          </div>
        </div>

        <div class="row featurette align-items-center mb-5 mt-5">
          <div class="col-md-5 pe-5 text-center">
            <svg
              class="rounded p-2"
              xmlns="http://www.w3.org/2000/svg"
              width="70"
              height="70"
              viewBox="0 0 24 24"
              style="fill: rgb(63, 62, 62);transform: ;msFilter:;"
            >
              <path
                d="M21.004 7.975V6c0-2.206-1.794-4-4-4h-10c-2.206 0-4 1.794-4 4v1.998l-.076.004A1 1 0 0 0 2 9v2a1 1 0 0 0 1 1h.004v6c0 .735.403 1.372.996 1.72V21a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h10v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.276A1.994 1.994 0 0 0 21.004 18v-6a1 1 0 0 0 1-1V9.062a1.006 1.006 0 0 0-.072-.455c-.203-.487-.635-.604-.928-.632zM19.006 18H5.004v-5h14.001l.001 5zM11.004 7v4h-6V7h6zm8 0v4h-6V7h6zm-12-3h10c.736 0 1.375.405 1.722 1H5.282c.347-.595.986-1 1.722-1z"
              ></path>
              <circle cx="7.5" cy="15.5" r="1.5"></circle><circle
                cx="16.5"
                cy="15.5"
                r="1.5"></circle>
            </svg>
            <h2
              class="featurette-heading align-items-center display-5 mb-5"
              style="text-shadow: 1px 2px 4px rgba(0,0,0,0.7);"
            >
              <em>Bus - Automóvil</em>
            </h2>
          </div>
          <div class="col-md-7">
            <p class="lead">
              <strong
                >La distancia por tierra entre Santiago y Puerto Montt es de
                1033 km, Se debe tomar la carretera 5 Sur, al llegar a Puerto
                Montt tomar ruta 7 "Carretera Austral" e iniciar el recorrido
                por la Ruta escénica. Este primer tramo se denomina "bimodal"
                porque se requiere navegar dos veces, la primera es de 40
                minutos aproximadamente, luego entre Hornopirén y Caleta Gonzalo
                son 5 horas de navegación entre fiordos y canales. Al llegar a
                Caleta Gonzalo estarás en el Parque Pumalín, avanzar hacia el
                sur 50 minutos hasta Chaitén, desde aquí a Coyhaique son 8 a 9
                horas de inigualables diversidad de paisajes. Se recomienda
                descansar en las localidades de la Carretera Austral y hacer
                senderos en los Parques, disfrutar de los ríos, pesca
                recreativa, o solo contemplar la naturaleza a tu alrededor.</strong
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax">
    <div class="container text-center text-white">
      <h1 class="pt-5 display-5 parax"><em></em>¡Prepárate!</h1>
      <h1 class="mt-5 display-5 parax">
        <em>Tu nueva aventura te espera...</em>
      </h1>
      <h1 class="mt-5 display-5 parax">
        <em><q>Vive las experiencias de la Patagonia</q></em>
      </h1>
    </div>
  </div>
</section>

<style>
  .parallax {
    /* Ajusta la altura del parallax a tu gusto */
    height: 400px;
    /* La imagen de fondo se ajusta a la ventana */
    background-image: linear-gradient(
        to top,
        rgba(53, 68, 62, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(../assets/parallax-02.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
  }

  .parax {
    color: #fff;
    text-shadow:
      2px 1px 1px #000,
      3px 2px 2px #000;
  }
  .section-bg {
    background-image: url("../../public/blob-scene-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
